/* variables */
/* keyframe */
@keyframes anim-mots {
  0% {
    opacity: 0;
    transform: scale(0);
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(720deg);
  }
}
/*  @keyframes anim-boite {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0.3;
    transform: scale(0.3);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */
@keyframes anim-boite {
  100% {
    opacity: 0;
    transform: scale(0) rotate(720deg);
  }
}
@keyframes favoris {
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes favoris-actif {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(10) scaleY(10);
  }
}
/* fin keyframe */
Body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

/* animation intro */
/* voir pour extension !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.boite-intro {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 4rem;
  animation: anim-boite 1s 2.4s forwards;
  background-color: white;
  z-index: 5;
  opacity: 1;
}
.boite-intro__mot1 {
  opacity: 0;
  color: #9356dc;
  animation: anim-mots 0.8s;
  animation-fill-mode: forwards;
}
.boite-intro__mot2 {
  opacity: 0;
  color: #ff79da;
  animation: anim-mots 0.8s 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
.boite-intro__mot3 {
  opacity: 0;
  color: #99e2d0;
  animation: anim-mots 0.8s 1.6s ease-in-out;
  animation-fill-mode: forwards;
}

/* fin animation intro */
/* header */
.header {
  height: 60px;
  box-shadow: 0px 3px 3px #c5c5c5;
  margin-bottom: 3px;
}
.header__logo {
  font-size: xx-large;
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  padding-top: 10px;
}
.header__retour {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

/* section recherche restaurants */
.recherche-restaurants {
  background-color: #f6f6f6;
}
.recherche-restaurants__localisation {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.recherche-restaurants__localisation i {
  margin-right: 15px;
}
.recherche-restaurants__explorer {
  padding-bottom: 50px;
}
.recherche-restaurants__explorer p {
  padding: 0px 15px 0px 15px;
  margin-bottom: 30px;
}
.recherche-restaurants__titre {
  padding-top: 40px;
  margin: 0 20px 0 20px;
}

.bouton {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  padding: 15px;
  box-shadow: 1px 4px 10px #c5c5c5;
  position: relative;
  z-index: 1;
}
.bouton:hover::after {
  opacity: 0.2;
  box-shadow: 1px 4px 10px #3b3b3b;
}
.bouton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 2rem;
}

/* section fonctionnement */
.fonctionnement__titre {
  text-align: left;
  margin: 40px 0px 0px 20px;
}
.fonctionnement__vignettes {
  padding-bottom: 1px;
}

.vignette-fonctionnement {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin: 30px 20px 30px 20px;
  border-radius: 2rem;
  box-shadow: 1px 4px 10px #c5c5c5;
  justify-content: center;
}
.vignette-fonctionnement p {
  padding: 10px 0 10px 0;
}
.vignette-fonctionnement__chiffre {
  display: flex;
  background: #9356dc;
  height: 25px;
  width: 25px;
  justify-content: center;
  border-radius: 100px;
  color: white;
  font-size: 0.9rem;
  align-items: center;
  position: absolute;
  left: 8px;
}
.vignette-fonctionnement i {
  color: #7e7e7e;
  font-size: 1.2rem;
  position: absolute;
  left: 15%;
}

/* section restaurants */
.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}
.restaurants__titre {
  text-align: left;
  margin: 20px 0px 0px 20px;
  padding-top: 50px;
}

.vignette-restaurants {
  background: white;
  border-radius: 1.5rem;
  margin: 20px 0 20px 0;
  text-decoration: none;
  height: 250px;
}
.vignette-restaurants__image {
  object-fit: cover;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  height: inherit;
  height: 170px;
}
.vignette-restaurants__details {
  display: flex;
  justify-content: space-between;
}
.vignette-restaurants__details__description {
  text-align: left;
  margin: 0 20px 0 20px;
}
.vignette-restaurants__details__description h4 {
  margin: 10px 0 10px 0;
}
.vignette-restaurants__details__description p {
  margin: 10px 0 10px 0;
}
.vignette-restaurants__details__favoris {
  font-size: 1.5rem;
  margin: 10px 20px 0 0;
  opacity: 1;
  position: absolute;
  right: 40px;
  z-index: 3;
}
.vignette-restaurants__details__favoris:hover {
  animation: favoris 1s forwards;
}
.vignette-restaurants__details__favoris:hover + .vignette-restaurants__details__favoris--actif {
  animation: favoris-actif 1s ease-in-out forwards;
}
.vignette-restaurants__details__favoris--actif {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: -40px;
  top: 10px;
  font-size: 1.5rem;
  opacity: 0;
  z-index: 1;
  scale: 0.1;
}

/* footer */
footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding: 15px 20px 30px 20px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul div {
  display: flex;
  align-items: baseline;
}
footer ul div p {
  margin: 0;
}
footer ul li {
  margin: 5px 0 5px 0;
}
footer ul li i {
  padding-right: 10px;
  width: 15px;
}

/* --------------------------------- Page restaurants ----------------------------- */
.restaurant {
  padding: 0 15px 0 15px;
  background-color: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  z-index: 1;
  margin-top: -50px;
}
.restaurant__photo {
  width: 100%;
  margin-top: -2px;
}
.restaurant__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 0.9rem;
  font-weight: 400;
}
.restaurant__titre i {
  font-size: 1.5rem;
  padding-right: 20px;
}
.restaurant__menu {
  text-align: start;
}
.restaurant__menu__titre {
  font-size: 1.1rem;
  font-weight: 400;
}
.restaurant__menu__vignette {
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 1px 4px 10px #c5c5c5;
  overflow: hidden;
  padding: 20px 0 20px 20px;
  /* BOUTON VALIDATION ANIMATION ------------------------------------ */
}
.restaurant__menu__vignette:hover .restaurant__menu__vignette__bouton {
  opacity: 1;
  transform: scaleX(1);
}
.restaurant__menu__vignette:hover .restaurant__menu__vignette__bouton--anim {
  transform: rotate(180deg);
}
.restaurant__menu__vignette__plat__titre {
  margin: 0;
}
.restaurant__menu__vignette__plat__description {
  margin: 0;
}
.restaurant__menu__vignette__prix {
  font-weight: bold;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.restaurant__menu__vignette__bouton {
  background-color: #99e2d0;
  width: 20%;
  transform: scaleX(0.1);
  margin: -20px 0 -20px 0;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: transform 0.5s ease-in-out;
  font-size: 1.5rem;
  opacity: 0;
  transform-origin: right;
}
.restaurant__menu__vignette__bouton--anim {
  rotate: 180deg;
  transition: transform 0.5s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
