.favoris {
  font-size: 1.5rem;
  opacity: 1;
  z-index: 3;
  position: relative;
  &:hover {
    animation: favoris 1s forwards;
    & + .favoris--actif {
      animation: favoris-actif 1s ease-in-out forwards;
    }
  }

  &--actif {
    position: absolute;
    right: 0;
    background: -webkit-linear-gradient($couleur-primaire, $couleur-secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    opacity: 0;
    z-index: 1;
    /* scale: 0.1;*/
  }
}
