/* responsive */

@mixin tablette {
  @media screen and (min-width: map-get($breakpoints, tablette)) {
    @content;
  }
}

@mixin desk {
  @media screen and (min-width: map-get($breakpoints, desk)) {
    @content;
  }
}

/* pour l'arrivée des plats */ /* MIXIN AVEC ARGUMENT <-------------------- */
@mixin arrivee_plats($ordre) {
  animation: anim-plats $temps-plats $temps-plats * $ordre ease-in-out both;
}

/* pour centrer contenu */
@mixin centrer-contenu {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

@mixin centrer-contenu-bloc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
